Pages:
  Home: LandingPage (pending)
  - Reference Provided
  - Contains sections explaining the business
  - Has a search field for tracking orders ✔️
  Track:
  - Displays order info (related to tracking)
  - Displays error if order not found
  404:
  - Shown when page not found
  Login:
  - Used to login to the cms panel ✔️
  ForgotPassword:
  - Self explanatory
  UpdatePassword:
  - Self explanatory
  Dashboard:
  - Perform CRUD on all orders
  - Logout

API:
  Auth:
  - Login ✔️
  - Logout ✔️
  - Reset-Password ✔️
  Dashboard:
  - List Orders ✔️
  - Add Order ✔️
  - Edit Order ✔️
  - List Order ✔️
  - Add Order Update (pending)
  - Edit Order Updates (pending)
